<header id="flight-index-header">
  <div id="flight-index-header-left">
    <h2>Found <%=@totalFlights.length%> Flights</h2>
    <p><%=@flights[0].from_airport.name %> to <%= @flights[0].to_airport.name %></p>
  </div>
  <form method="get" url='search/'> 
    <input type="hidden" name="from" value="<%=@params[:from]%>" />
    <input type="hidden" name="to" value="<%=@params[:to]%>"/>
    <input type="hidden" name="passengers" value="<%=@params[:passengers]%>" />
    <select name="option" class="custom-select" onChange={this.form.submit()}>
      <% if @params[:option] === "price" %>
        <option value="date">Earliest First</option>
        <option value="price" selected="selected">Cheapest First</option>
        <option value="duration">Quickest First</option>
      <% elsif @params[:option] === "duration" %>
        <option value="date">Earliest First</option>
        <option value="price">Cheapest First</option>
        <option value="duration" selected="selected">Quickest First</option>
      <% else %>
        <option value="date" selected="selected">Earliest First</option>
        <option value="price">Cheapest First</option>
        <option value="duration">Quickest First</option>
      <%end%>
    </select>
  </form>
</header>
  