<div class="flight-container">
  <div class="flight-card-left">
    <div class="flight-card-labels">
      <label class="flight-card-label">Date/Time</label>
      <label class="flight-card-label">Airline</label>
      <label class="flight-card-label">Layovers</label>
      <label class="flight-card-label">Duration</label>
    </div>
    <div class="flight-card-details">
      <p><%= flight.date.strftime("%d/%m/%Y - %I:%M %p") %></p>
      <p><%= flight.airline %></p>
      <p><%= flight.layovers %></p>
      <p><%= flight.duration %> Hours</p>
    </div>
  </div>
  <div class="flight-card-right">
    <h5 id="flight-card-price">$<%=flight.price %></h5>
    <%= form_with url: new_booking_path, method: :get, local: true do |f| %>
    <%= hidden_field_tag(:passengers, params["passengers"]) %>
    <%= f.button 'Book Flight!', class: "btn btn-primary", 
    value: flight.id, name: 'flight_id' %>
    <%end%>
  </div>
</div>

