<%= form_with url: new_booking_path, method: :get, local: true do |f| %>
<%= hidden_field_tag(:passengers, params["passengers"]) %>
<%= hidden_field_tag(:flight_id, flight.id) %>
  <header class="flight-header">
  <h6 class="header-date"><%=flight.date.strftime("%B %dst, %Y") %></h6>
  </header>
  <div class="flight-container">
    <div class="flight-card-details">
      <div class="flight-card-detail">
        <p><%= flight.date.strftime("%H:%M") %> - <%= endTime(flight) %></p>
        <label class="flight-card-label"><%= flight.airline %></label>
      </div>
      <div class="flight-card-detail"> 
        <% if flight.layovers === 0 %>
          <p>Non-Stop</p>
        <%elsif flight.layovers === 1%>    
          <p><%= flight.layovers%> Stop</p> 
        <%else%>
          <p><%= flight.layovers%> Stops</p> 
        <%end%>    
      </div>
      <div class="flight-card-detail">     
        <p><%= flight.duration %> Hours</p> 
        <label class="flight-card-label"><%= @flights[0].from_airport.airport_code %><i class="fas fa-arrow-right ml-1 mr-1"></i><%= @flights[0].to_airport.airport_code %></label>
      </div>
      <div class="flight-card-detail">     
        <p>$<%= priceAdjuster(flight, params) %></p> 
      </div>
      <%= f.submit "Select", class: "btn btn-primary flight-card-button" %>
    </div>
  </div>
<%end%>

