<%= form_with url: root_path, method: :get, local: true do |f| %>
<div id="search-form">
  <h1>Flight Booker 9001</h1> 
  <br/>

  <%= f.label "Departing From" %>
  <%= f.select(:from, options_for_select(@airports, params[:from]))%>
  <br/>

  <%= f.label "Arriving In" %>
  <%= f.select(:to, options_for_select(@airports, params[:to])) %>
  <br/>

  <%= f.label "Passenger #" %>
  <%= f.select(:passengers, options_for_select(1..4, 
  params[:passengers])) %>
  <br/><br/>

  <%= f.submit(value: "Find Flights", class: "btn btn-primary btn-lg ")%>
</div>
<%end%>
