<div id="search-container">
  <div class="container"> 
    <%= form_with url: 'search/', method: :get, local: true, id: "main-form" do |f| %>
      <h3 class="form-heading">Find Flights</h3> 
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

      <div class="form-group mt-3">
        <%= f.label "Departing From" %>
        <%= f.select(:from, options_for_select(@airports, params[:from]), {},
        {class: "form-control"})%>
      </div>

      <div class="form-group mt-3">
        <%= f.label "Arriving In" %>
        <%= f.select(:to, options_for_select(@airports, params[:to]), {}, {class: "form-control"}) %>
      </div>

      <div class="form-group mt-3">
        <%= f.label "Passengers" %>
        <%= f.select(:passengers, options_for_select(1..4, 
        params[:passengers]), {}, {class: "form-control"}) %>
      </div>

      <div class="form-group">
        <%= f.submit(value: "Search", class: "btn btn-primary btn-block mt-3")%>
      </div>
    <%end%>
    <%= render "/partials/footer"%>
  </div> 
</div>