<div class="flight-details">
  <header class="details-header">
    <h6>Flight ID: <%= @flight.id%></h6>
    <h6> (<%= @flight.from_airport.airport_code %>
      <i class="fas fa-arrow-right"></i> 
      <%= @flight.to_airport.airport_code %>)
    </h6>
  </header>
  <main class="details-main">
    <div class="flight-card-detail"> 
      <p><%= @flight.date.strftime("%d/%m/%Y") %></p>     
      <label class="flight-card-label">Date</label>
    </div>
    <div class="flight-card-detail"> 
      <p><%= @flight.date.strftime("%H:%M - ")%><%=endTime(@flight)%></p>     
      <label class="flight-card-label">Flight Time</label>
    </div>
    <div class="flight-card-detail">  
      <p><%= @flight.airline %></p>    
      <label class="flight-card-label">Airline</label>
    </div>
    <div class="flight-card-detail"> 
      <% if @flight.layovers === 0 %>
        <p>Non-Stop</p>
      <%elsif @flight.layovers === 1%>    
        <p><%= @flight.layovers%> Stop</p> 
      <%else%>
        <p><%= @flight.layovers%> Stops</p> 
      <%end%>     
      <label class="flight-card-label">Layovers</label>
    </div>
    <div class="flight-card-detail">  
      <p><%= @flight.duration %> Hours</p>    
      <label class="flight-card-label">Duration</label>
    </div>
    <div class="flight-card-detail">  
      <p>$<%= @totalPrice %></p>    
      <label class="flight-card-label">Price</label>
    </div>
  </main>
</div>


