<%= form_for @booking, html: {id: "passenger-form", class: "mt-3"} do |f| %>
  <% passenger_count = 1 %>
  <%= f.fields_for :passengers do |p| %>
    <div class="passenger-container">
      <h5>Passenger # <%=passenger_count%></h5>
      <div class="form-group mb-3">
        <label for="name">Name</label>
        <%= p.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <%= p.text_field :email, class: "form-control" %>
      </div>
    </div>
    <%passenger_count += 1%>    
  <% end %>
  <%= f.hidden_field(:flight_id, value: @flight.id) %>
  <%= f.submit class: "btn btn-primary btn-block passenger-button" %>
<% end %>

